<HeadLayout />

{{page-title "Experimental Rust Package Registry" separator=' - ' prepend=true}}

<ProgressBar/>
<NotificationContainer @position="top-right"/>

<Header/>

<main local-class="main">
  <div local-class="inner-main">
    {{outlet}}
  </div>
</main>

<Footer/>

<a href='https://github.com/integer32llc/crates.io' local-class='fork-me'>
  <img src='/assets/forkme.png' alt="Fork me on GitHub">
</a>
